<header>
    <img src="/pictures/wp4065445.jpg" width="7%" alt="logo">
    <nav>
        <ul class="nav__links">
            <li><a class="nav__links" href="/">Home</a></li>
            <li><a class="nav__links" href="/albums">Albums</a></li>
            <li><a class="nav__links" href="/forum">Feedback</a></li>
            <li><a class="nav__links" href="/chatroom">Chatroom</a></li>
        </ul>
    </nav>
</header>